<a href="https://colab.research.google.com/github/JeanHenriqueSz/ADBD-ATIVIDADE-02/blob/main/ADBD_ATIVIDADE_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/Jogadores.csv", sep=";")

In [3]:

# Converter o salário para número e substituir null por NaN
df["salario_do_jogador"] = pd.to_numeric(df["salario_do_jogador"], errors="coerce")

print(" VISÃO GERAL DOS DADOS ")
print(df.head(), "\n")

 VISÃO GERAL DOS DADOS
  nome_do_jogador  salario_do_jogador posicao_jogador nome_time_jogador  \
0         Everson            150000.0         Goleiro          Atlético
1   Incrível Hulk            850000.0        Atacante          Atlético
2           Fábio            100000.0         Goleiro          Cruzeiro
3             Edu            150000.0        Atacante          Cruzeiro
4   Diego Tardeli                 NaN        Atacante               NaN

  nome_estado_jogador
0                  MG
1                  MG
2                  MG
3                  MG
4                 NaN

In [4]:
# a) Nome e time dos jogadores com salário acima de R$ 20k
acima_20k = df.loc[df["salario_do_jogador"] > 20000, ["nome_do_jogador", "nome_time_jogador"]]
print(" Jogadores com salário acima de R$ 20.000 ")
print(acima_20k, "\n")

 Jogadores com salário acima de R$ 20.000
  nome_do_jogador nome_time_jogador
0         Everson          Atlético
1   Incrível Hulk          Atlético
2           Fábio          Cruzeiro
3             Edu          Cruzeiro

In [5]:
# b) Nome e salário dos jogadores dos times de Minas Gerais
times_mg = df.loc[df["nome_estado_jogador"] == "MG", ["nome_do_jogador", "salario_do_jogador"]]
print(" Jogadores dos times de Minas Gerais ")
print(times_mg, "\n")

 Jogadores dos times de Minas Gerais
  nome_do_jogador  salario_do_jogador
0         Everson            150000.0
1   Incrível Hulk            850000.0
2           Fábio            100000.0
3             Edu            150000.0

In [6]:
# c) Nome e time dos jogadores cujo nome contenha a letra u
contendo_u = df.loc[df["nome_do_jogador"].str.contains("u", case=False, na=False), ["nome_do_jogador", "nome_time_jogador"]]
print(" Jogadores cujo nome contém a letra 'u' ")
print(contendo_u, "\n")

 Jogadores cujo nome contém a letra 'u'
  nome_do_jogador nome_time_jogador
1   Incrível Hulk          Atlético
3             Edu          Cruzeiro

In [7]:
# d) Nome, salário e time dos jogadores, ordenados pelo salário decrescente
ordenado_salario = df[["nome_do_jogador", "salario_do_jogador", "nome_time_jogador"]].sort_values(by="salario_do_jogador", ascending=False)
print(" Jogadores ordenados por salário (decrescente) ")
print(ordenado_salario, "\n")

 Jogadores ordenados por salário (decrescente)
  nome_do_jogador  salario_do_jogador nome_time_jogador
1   Incrível Hulk            850000.0          Atlético
0         Everson            150000.0          Atlético
3             Edu            150000.0          Cruzeiro
2           Fábio            100000.0          Cruzeiro
4   Diego Tardeli                 NaN               NaN

In [8]:
# e) Nome, salário e time ordenados por nome do time (crescente) e salário (decrescente)
ordenado_time_salario = df[["nome_do_jogador", "salario_do_jogador", "nome_time_jogador"]].sort_values(
    by=["nome_time_jogador", "salario_do_jogador"], ascending=[True, False]
)
print(" Jogadores ordenados por time (A–Z) e salário (decrescente) ")
print(ordenado_time_salario, "\n")

 Jogadores ordenados por time (A–Z) e salário (decrescente)
  nome_do_jogador  salario_do_jogador nome_time_jogador
1   Incrível Hulk            850000.0          Atlético
0         Everson            150000.0          Atlético
3             Edu            150000.0          Cruzeiro
2           Fábio            100000.0          Cruzeiro
4   Diego Tardeli                 NaN               NaN

In [9]:
# f) Quantidade de jogadores por time
qtd_por_time = df["nome_time_jogador"].value_counts()
print(" Quantidade de jogadores por time ")
print(qtd_por_time, "\n")

 Quantidade de jogadores por time
nome_time_jogador
Atlético    2
Cruzeiro    2
Name: count, dtype: int64

In [10]:
# g) Média salarial por time
media_por_time = df.groupby("nome_time_jogador")["salario_do_jogador"].mean()
print(" Média salarial por time ")
print(media_por_time, "\n")

 Média salarial por time
nome_time_jogador
Atlético    500000.0
Cruzeiro    125000.0
Name: salario_do_jogador, dtype: float64